@{
    Layout = null;
}
@model int
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Kaiadmin - Bootstrap 5 Admin Dashboard</title>
    <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
          name="viewport" />
    <link rel="icon"
          href="~/assets/img/kaiadmin/favicon.ico"
          type="image/x-icon" />

    <!-- Fonts and icons -->
    <script src="~/assets/js/plugin/webfont/webfont.min.js"></script>

    <!-- CSS Files -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/assets/css/plugins.min.css" />
    <link rel="stylesheet" href="~/assets/css/kaiadmin.min.css" />

</head>
<body>

    <style>
        .wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .x {
            background-color: #dee2e6;
            display: flow-root;
            padding: 30px;
        }
    </style>
    <div class="wrapper">
        <div class="container">
            <div class="col-md-12">
                <div class="col-md-4 ms-auto me-auto x">

                    <form asp-controller="Admin" asp-action="Index" method="post">
                        <div class="form-group form-inline right">
                            <label for="inlineinput"
                                   class="col-md-3 col-form-label">Kullanıcı Adı</label>
                            <input type="text"
                                   class="form-control input-full"
                                   id="inlineinput"
                                   name="username"
                                   placeholder="" />
                        </div>

                        <div class="form-group">
                            <label for="password">Şifre</label>
                            <input type="password"
                                   class="form-control"
                                   id="password"
                                   name="password"
                                   placeholder="" />
                        </div>


                        @if (Model == 0)
                        {
                            <p>Kullanıcı Ya da Şifre Yanlış</p>
                        }

                        <div class="pull-right">
                            <button type="submit" class="btn btn-primary">Giriş</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>





    <!--   Core JS Files   -->
    <script src="~/assets/js/core/jquery-3.7.1.min.js"></script>
    <script src="~/assets/js/core/popper.min.js"></script>
    <script src="~/assets/js/core/bootstrap.min.js"></script>

    <!-- jQuery Scrollbar -->
    <script src="~/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>

    <!-- Chart JS -->
    <script src="~/assets/js/plugin/chart.js/chart.min.js"></script>

    <!-- jQuery Sparkline -->
    <script src="~/assets/js/plugin/jquery.sparkline/jquery.sparkline.min.js"></script>

    <!-- Chart Circle -->
    <script src="~/assets/js/plugin/chart-circle/circles.min.js"></script>

    <!-- Datatables -->
    <script src="~/assets/js/plugin/datatables/datatables.min.js"></script>

    <!-- Bootstrap Notify -->
    <script src="~/assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>

    <!-- jQuery Vector Maps -->
    <script src="~/assets/js/plugin/jsvectormap/jsvectormap.min.js"></script>
    <script src="~/assets/js/plugin/jsvectormap/world.js"></script>

    <!-- Sweet Alert -->
    <script src="~/assets/js/plugin/sweetalert/sweetalert.min.js"></script>

    <!-- Kaiadmin JS -->
    <script src="~/assets/js/kaiadmin.min.js"></script>


</body>
</html>
